*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    overflow:hidden ;

}
.cont{
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    max-height: 800px;
    background:repeating-linear-gradient(#d3d3d3,#dcdcdc 50px);
    border-radius: 16px;
    border: solid 2px #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#prgBar{
    width: 75%;
    height: 16px;
    border: solid 2px #444;
    border-radius: 8px;
    overflow: hidden;

}

.timeBar{
    width: 0;
    height: 100%;
    background:orange;
    border-radius: 8px;
    animation: timeBar 1.8s linear infinite;
}

@keyframes timeBar{
    0%{
        width: 0;
    }
    100%{
        width: 110%;
    }
}

.score{
    width: 75%;
    font-size: 22px;
    display: grid;
    place-items: center;
}

#display{
    width: 75%;
    height: 200px;
    border: solid 20px #4445;
    border-radius: 16px;
    background: #0004;
    display: grid;
    place-items: center;
}

#scr{
    font-size:32px;
    border: solid 1px #2224;
    border-radius: 8px;
    padding: 4px 28px;
    background: #0002;
}
#colors{
    font-size: 38px;;
}

.controls{
    width:60%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

#right,#wrong{
    height: 48px;
    width: 48px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    color: whitesmoke;
}

#right{
    background: #146c;
}
#wrong{
    background: #b77c;
}

.startBtn{
    height: 20px;
}
#startBtn{
    font-size: 20px;
    padding: 4px 8px;
}

.clicked{
    transform: scale(0.8);
    transition-duration: 0.2s;
}

